body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Secular One', sans-serif !important;
    overflow: -moz-hidden-unscrollable;
    background: url(univer.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

::-webkit-scrollbar {
    height: 5px;
    width: 12px;
}

 ::-webkit-scrollbar-track {
    background-color: #F8F5F2;
}

 ::-webkit-scrollbar-thumb {
    background-color: #dddddd;
}

 ::-webkit-scrollbar-thumb:active {
    background-color: rgb(128, 128, 128);
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

.transi-125 {
    transition: 125ms;
}

.transi-75 {
    transition: 75ms;
}

.nav-maincontainer {
    z-index: 5;
    height: 70px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 25px #4069ff;
}

.countquiz {
    color: white;
    font-size: 1.25rem;
    margin-right: 30px;
    text-shadow: 5px 4px 6px #000000;
}

.nav-container {
    margin: 5px 0;
    background-color: green;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-box-shadow: 2px 6px 10px 2px rgba(0, 0, 0, 0.71);
    box-shadow: 2px 6px 10px 2px rgba(0, 0, 0, 0.71);
    box-sizing: border-box;
}

.navbar-brand {
    color: white !important;
    display: flex;
    align-items: center;
    text-shadow: 5px 4px 6px #000000;
    box-sizing: border-box;
}

.navbar-brand img {
    margin: 0 15px 0 30px;
    object-fit: contain;
    filter: invert(100%) sepia(0%) saturate(7490%) hue-rotate(203deg) brightness(100%) contrast(102%);
}

.around-container {
    height: calc(100vh - 520px);
    box-sizing: border-box;
}

section {
    /* transform: scale(1.5); */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    transform-style: preserve-3d;
}

.earth {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 25vh;
    width: 25vh;
    background: url(earth.png);
    background-size: cover;
    background-repeat: repeat-x;
    border-radius: 50%;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 1), 0 0 50px #4069ff;
    animation: animateEarth 25s linear infinite;
}

@keyframes animateEarth {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -1276px 0;
    }
}

.circle {
    transform-style: preserve-3d;
    animation: animateText 15s linear infinite;
}

@keyframes animateText {
    0% {
        transform: perspective(1000px) rotateY(360deg) rotateX(12deg) translateY(-30px);
    }
    100% {
        transform: perspective(1000px) rotateY(0deg) rotateX(12deg) translateY(-30px);
    }
}

.circle span {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 45px;
    background: #fff;
    /* background: rgb(45, 202, 0);
    background: linear-gradient(0deg, rgba(45, 202, 0, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 50%, rgba(45, 202, 0, 1) 100%); */
    color: #35146f;
    font-size: 2em;
    transform-origin: center;
    transform-style: preserve-3d;
    padding: 4px 14px;
    transform: rotateY(calc(var(--i) * calc(360deg / 25))) translateZ(170px);
    border-top: 4px solid #35146f;
    border-bottom: 4px solid #35146f;
    text-transform: uppercase;
}

.circle span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    transform: translateZ(-5px);
}

.mainquestion-container {
    max-width: 1400px;
    width: 100%;
}

.question-container {
    height: 450px;
    box-sizing: border-box;
}

.question-card {
    border: 13px outset #0000FF !important;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 50%, rgba(211, 211, 211, 1) 100%);
    box-shadow: 0 0 25px #4069ff;
}

.question-card span {
    padding-right: 15px;
}

.question-box {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}

.row {
    margin: 0 !important;
}

.col {
    padding: 0 !important;
}

.mycard {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 50%, rgba(211, 211, 211, 1) 100%);
    border-radius: 8px;
    margin: 0 40px;
}

.mycard-body {
    border: 11px outset #0000FF;
    height: 130px;
    box-shadow: 0 0 25px #4069ff;
}

.mycard-body h5 {
    padding: 9px 9px 0 9px;
    font-size: 1.1em;
}

.mycard-body p {
    padding: 0 9px 5px 9px;
    font-size: 1.3em;
    text-align: center;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translate( 0, -50%);
    right: 0;
}

.widthbg-0 {
    width: 0%;
}

.widthbg-10 {
    width: 10%;
}

.widthbg-20 {
    width: 20%;
}

.widthbg-30 {
    width: 30%;
}

.widthbg-40 {
    width: 40%;
}

.widthbg-50 {
    width: 50%;
}

.widthbg-60 {
    width: 60%;
}

.widthbg-70 {
    width: 70%;
}

.widthbg-80 {
    width: 80%;
}

.widthbg-90 {
    width: 90%;
}

.widthbg-100 {
    width: 100%;
}